config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true

# Allow all Lombok annotations
lombok.data.flagUsage = ALLOW
lombok.value.flagUsage = ALLOW
lombok.builder.flagUsage = ALLOW
lombok.allArgsConstructor.flagUsage = ALLOW
lombok.noArgsConstructor.flagUsage = ALLOW
lombok.requiredArgsConstructor.flagUsage = ALLOW
