:host {
  display: inline-block;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  &.spinner-sm {
    .spinner-border {
      width: 1rem;
      height: 1rem;
      border-width: 0.15em;
    }
  }

  &.spinner-md {
    .spinner-border {
      width: 2rem;
      height: 2rem;
      border-width: 0.2em;
    }
  }

  &.spinner-lg {
    .spinner-border {
      width: 3rem;
      height: 3rem;
      border-width: 0.25em;
    }
  }

  &.spinner-primary {
    .spinner-border {
      border-color: var(--bs-primary);
      border-right-color: transparent;
    }
  }

  &.spinner-light {
    .spinner-border {
      border-color: #fff;
      border-right-color: transparent;
    }
  }
}

@media (prefers-color-scheme: dark) {
  .spinner {
    &.spinner-primary {
      .spinner-border {
        border-color: var(--bs-primary);
        border-right-color: transparent;
      }
    }

    &.spinner-light {
      .spinner-border {
        border-color: #f8f9fa;
        border-right-color: transparent;
      }
    }
  }
}